body {
    font-family: 'Courier New', 'monospace';
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-weight: 100;
    background-color: #0400ff;
}

header {
    background: #0400ff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

main {
    padding: 20px;
}

article {
    margin-bottom: 20px;
}

p {
    color: #d0ff00; 
}


a {
    color: #d0ff00;
}

/* styles.css */
body {
    background-color: #0400ff; 
    color: #d0ff00; 
    font-family: Courier, monospace; /* Font style */
    margin: 0;
    padding: 0;
}

h1 {
    color: #d0ff00; /* Blue color for headings */
}

form {
    background-color: #ffffff00; /* White background for form */
    padding: 20px;
    border-radius: 5px;

}

input[type="text"],
textarea {
    width: 100%; /* Full-width input fields */
    padding: 10px;
    border: 1px solid #d0ff00; /* Light gray border for inputs */
    border-radius: 0px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #d0ff00; /* Blue background for submit button */
    color: rgb(25, 0, 255); /* White text color */
    border: none;
    padding: 10px 20px;
    border-radius: 0px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

#comments p {
    background-color: #ffffff00; /* White background for comments */
    border: 1px solid #dddddd00; /* Light gray border */
    padding: 10px;
    border-radius: 0px;
    margin-bottom: 10px;
}
